name: Chess CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++ libgtest-dev

      - name: Build
        run: |
          cmake -S . -B build
          cmake --build build

      - name: Run tests
        run: |
          ctest --test-dir build --output-on-failure
